.item {
  flex-grow: 1 !important;
}

@media screen and (min-width: 1200px) {
  .item {
    max-width: 25% !important;
    flex-basis: 20% !important;
  }
}

.textField {
  margin-bottom: 20px !important;
  align-self: flex-end !important;
}
@media screen and (max-width:494px) and (min-width:300px) {
  
}